/** All CSS is (C) James Palawaga 2016 -- All rights Resrved **/

body{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    padding:0; 
    margin:0;
}

#home {
  background-image: url('../img/bg.png');
}

.no-beer {
    margin-top:40vh;
    width: 100%;
    text-align:center;
    font-size:3em;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #AFB8C7;
}

#addButton {
    position:fixed;
    bottom: 5vw;
    right: 5vw;
    background-color: red;
    color: #FFF;
    text-align:center;
    line-height:15vw;
    font-size:10vw;
    width: 15vw;
    height: 15vw;
    border-radius:100vw;
    -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
}

/* We don't want the add button to ever block anything. */
div#home article:last-of-type {
  margin-bottom:20vh;
    -webkit-box-shadow: -1px 4px 9px -1px rgba(0,0,0,.2);
    -moz-box-shadow: -1px 4px 9px -1px rgba(0,0,0,.2);
    box-shadow: -1px 4px 9px -1px rgba(0,0,0,.2);
}

.button {
    display: inline-block;
}

#sort {
    float: right;
    color: #B5B3B3;
}

#sort:after {
    float: none;
}

.below-the-fold-information{
    background-color: rgba(0,0,0,.5);
}

#homeHeader {
    border:0;
    color: #6D6969;
    font-size:1.8em;
    height:5vh;
    min-height: 35px;
    max-height:70px;
    padding: 1vw;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.selected {
  color: #6F6C6C;
  text-align:center;
}

.beerEntry {
  background-color:#FFF;
  border-bottom: 1px solid #ccc;
  padding:1vh 2vw 1vh 2vw;
  height:5vh;
  min-height:35px;
}

.beerEntry img {
  margin-top:1vh;
  height:3vh;
}

.beerEntry .info {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    float: left;
    width: 55vw;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size:1.1em;
}

.beerEntry .info .date {
    color: #666;
    display:block;
    font-size:.75em;
}

.beerEntry .rating {
  float:right;
}

.beerEntry .rating:after {
  float: none;
}

#beerReview {
  color: #FFF;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#beerReviewBg {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#beerReviewBg img {
  height: 100vh;
}

.ui-content {
  margin: 0;
  padding: 0;
}

#infoLayer {
  position: relative;
  width: 100vw;
  height: 82vh;
}

#detailName {
  position: absolute;
  bottom: 2vw;;
  left: 2vw;
  font-size:5vw;
  width:70vw;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

#detailRating {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 25vw;
}

#detailRating img {
  height:5vw;
}

.band {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:7vh;
  background-color: rgba(0,0,0,0.5);
}

::-webkit-input-placeholder {
  color: white;
  font-style:italic;
}

.input-box #tastingNotes {
  text-align:left;
  color: #FFF; 
  font-size:12pt;
  display:block;
  background: none;
  border: 0;
  resize: none;
  outline: none;
  width: 100%;
  font-style:italic;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.back {
  width: 8.25vw;
  height: 8.25vw;
  border-radius:100px;
  margin-bottom:2vh;
  background-color:rgba(0,0,0,0.5);
  margin-top:5vw;
  margin-left:5vw;
  z-index: 99; /* render on top of everything */
}


.back img {
  width: 6vw;
  height: 6vw;
  margin-top:1vw;
  margin-left:1vw;
  z-index: 100; /* render on top of everything */
}

/* http://stackoverflow.com/a/31798349*/
.star-left {
  -webkit-mask: url('../img/star.svg') no-repeat 0 100%;
   mask: url(star.svg) no-repeat 0 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: yellow;
  width: 4.9vw;
  height: 10vw;
  display:inline-block;
}

.starbox {
  display: inline-block;
}

.star-right {
  -webkit-mask: url('../img/star.svg') no-repeat 102% 100%;
   mask: url(star.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: yellow;
  width: 4.9vw;
  height: 10vw;
  display:inline-block;
}

.gray {
  background-color: #ccc;
}

.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#ratingWidget {
  width: 50vw;
  margin-top:5vh;
  height:10vh;
  font-size:0;
  margin-left:auto;
  margin-right:auto;
}

#ratingWidget img {
  height:10vw;
}

#ratingWidget img:hover {
  filter: none; /* works for firefox */
  -webkit-filter: none; /*for chrome/ safari */
  -webkit-transition: none;
}

.forward img {
    width: 6vw;
    height: 6vw;
    position:fixed;
    bottom: 5vw;
    right: 5vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}



/** Old styles **/

#welcome-screen {
    background: linear-gradient(rgba(178, 189, 11, 0.45), rgba(178, 189, 11, 0.45)), url('../img/sample.png');
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20pt;
    height:100%;
    padding-top:0px;
    padding:0px;
    width:100%;
    position:fixed;             /* position in the center of the screen */
}

#welcome-screen a {
    text-decoration: none;
}

#welcome-screen h1 {
    color: #fff;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

#welcome-screen .input-box{
    display:block;
    text-align:center;
}

#welcome-screen #nameBox{
    display:inline-block;
    margin-left:auto;
    margin-right: auto;
    font-size:inherit;
    border:0;
    background-color:inherit;
    color: #fff;
    text-align:center;
    max-width:100%;
    min-width:10vw;
    overflow:hidden;
    border-bottom: 5px solid #FFF;
    -webkit-user-select : auto;
}

#welcome-pass:active {
    background-color:#4598d6;
    outline:none;
}
