/** All CSS is (C) James Palawaga 2016 -- All rights Resrved **/

body{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    padding:0; 
    margin:0;
}

.beerEntry {
  border-bottom: 1px solid #ccc;
  margin-bottom:2vh;
  height:7vh;
}

#addButton {
    position:fixed;
    bottom: 5vw;
    right: 5vw;
    background-color: red;
    color: #FFF;
    text-align:center;
    line-height:14vw;
    font-size:10vw;
    width: 15vw;
    height: 15vw;
    border-radius:100vw;
    -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,.7);
}

/* We don't want the add button to ever block anything. */
div#home article:last-of-type {
  margin-bottom:20vh;
}

.beerEntry img {
  width:5vw;
}

.beerEntry .info {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    float: left;
}

.beerEntry .info .date {
    color: #666;
    display:block;
    font-size:2vh;
}

.beerEntry .rating {
  float:right;
}

.beerEntry .rating:after {
  float: none;
}

.back img {
  width: 6vw;
  height: 6vw;
  position:fixed;
  top: 5vw;
  left: 5vw;
  margin-bottom:10vh;
}

/* http://stackoverflow.com/a/31798349*/
.star-left {
  -webkit-mask: url('../img/star.svg') no-repeat 0 100%;
   mask: url(star.svg) no-repeat 0 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: yellow;
  width: 4.9vw;
  height: 10vw;
  display:inline-block;
}

.starbox {
  display: inline-block;
}

.star-right {
  -webkit-mask: url('../img/star.svg') no-repeat 102% 100%;
   mask: url(star.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: yellow;
  width: 4.9vw;
  height: 10vw;
  display:inline-block;
}

.gray {
  background-color: #ccc;
}

.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#ratingWidget {
  width: 50vw;

  height:10vh;
  font-size:0;
  margin-left:auto;
  margin-right:auto;
}

#ratingWidget img {
  height:10vw;
}

#ratingWidget img:hover {
  filter: none; /* works for firefox */
  -webkit-filter: none; /*for chrome/ safari */
  -webkit-transition: none;
}

.forward img {
    width: 6vw;
    height: 6vw;
    position:fixed;
    bottom: 5vw;
    right: 5vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}



/** Old styles **/

#welcome-screen {
    background: linear-gradient(rgba(178, 189, 11, 0.45), rgba(178, 189, 11, 0.45)), url('../img/sample.png');
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20pt;
    height:100%;
    padding-top:0px;
    padding:0px;
    width:100%;
    position:fixed;             /* position in the center of the screen */
}

#welcome-screen a {
    text-decoration: none;
}

#welcome-screen h1 {
    color: #fff;
    margin-bottom: 4vh;
    margin-top: 5vh;
}

#welcome-screen .input-box{
    display:block;
    text-align:center;
}

#welcome-screen #nameBox{
    display:inline-block;
    margin-left:auto;
    margin-right: auto;
    font-size:inherit;
    border:0;
    background-color:inherit;
    color: #fff;
    text-align:center;
    max-width:100%;
    min-width:10vw;
    overflow:hidden;
    margin-right:0px;
    border-bottom: 5px solid #FFF;

}

#welcome-pass:active {
    background-color:#4598d6;
    outline:none;
}
